{% extends "auctions/layout.html" %} {% block body %}

<div class="container">  
    <div class="row d-flex justify-content-center">
    {% for listing in listings %}
    {% if listing.active %}
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src= {{ listing.image_url }} class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> {{ listing.title }}  ${{ listing.starting_price}}</h5>
            <p class="card-text"> {{ listing.desc }}</p>
            <p class="card-text"><small class="text-muted">{{ listing.user }}  {{ listing.time_created }}</small></p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% empty %}
    <h3> No items in this category!</h3>
    {% endfor %}
    </div>  
  </div>
{% endblock %}