{% extends "auctions/layout.html" %} {% load static %} {% block body %}
<div class="container">
    <h2>Active Listings</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for listing in listings %}
        {% if listing.active %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ listing.image_url }}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h4 class="card-title">{{ listing.title }}</h4>
                    <h5 class="card-title">
                        Starting Price: ${{ listing.starting_price }}
                    </h5>
                    <p class="card-text">
                        {{ listing.desc}}
                    </p>
                </div>
                <div class="card-footer">
                    <a href= {% url 'listing' listing.id %} class="btn btn-primary">View</a>
                    {% if listing in user.watchlist.all %}
                    <a class="btn btn-primary" href="{% url 'unwatch' listing.id %}"><i class="bi bi-bookmark-heart-fill"></i> Remove From Watchlist</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'watch' listing.id %}"><i class="bi bi-bookmark-heart"></i> Add to Watchlist</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <h3>No listings!</h3>
        {% endfor%}
    </div>
</div>
{% endblock %}
