{% extends "auctions/layout.html" %} {% block body %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src= {{ listing.image_url }} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{ listing.title }} ${{ listing.starting_price}}</h3>
                        <h5 class="card-text">{{ listing.get_category_display }}</h5>
                        <p class="card-text">{{ listing.desc }}</p>
                        <p class="card-text"><small class="text-muted">{{ listing.user }} {{ listing.time_created }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>

    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-header">Current Bids</div>
            <div class="card-body">
            <ul class="list-group"></ul>
            {% for bid in bids %}     
                <li class="list-group-item">{{ bid.user }} made a bid of ${{ bid.price }}</li>
            {% empty %}
            <li class="list-group-item">No bids yet! Be the first!</li>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>

    </br>

    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
            {% if listing.user == user %}
            <h4>Close Bid</h4>
            <p>Current Bid: ${{ top_bid }}</p>
            <form action="{% url 'close' listing.id  %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Close" />
                </div>
            </form>

            {% else %}
            <h4>Bid for Item</h4>
            <form action="{% url 'bid' listing.id  %}" method="post">
                {% csrf_token %}
                <input required type="number" min="{{ top_bid }}" step="0.01" max="9999999999.99" class="form-control"
                    name="price" placeholder="Current Bid: ${{ top_bid }}">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Submit" />
                </div>
            </form>
            {% endif %}
            </div>
        </div>
    </div>

    <br />

    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-start w-100">
                    <div class="w-100">
                        <h4>Leave a comment</h4>
                        <form
                            action="{% url 'comment' listing.id  %}"
                            method="post"
                        >
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form.content }}
                            </div>
                            <div class="form-group">
                                <input
                                    class="btn btn-primary"
                                    type="submit"
                                    value="Submit"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0">Comments</h4>
                {% for comment in comments %}

                <hr class="my-0" style="height: 1px" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <div>
                            <h6 class="fw-bold mb-1">{{ comment.user }}</h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">{{ comment.time }}</p>
                            </div>
                            <p class="mb-0">{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <hr class="my-0" style="height: 1px" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <div>
                            <h5 class="fw-bold">
                                No comments! Be the first!
                            </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}
