{% extends "auctions/layout.html" %} {% block body %}

<div class="container">
    <div class="card" style="width: auto">
        <div class="card-body">
            <h1>{{ listing.title }}</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <img class="img" src="{{ listing.image_url }}" alt="..." />
            </li>
            <li class="list-group-item">Description: {{ listing.desc }}</li>
            <li class="list-group-item">
                Category: {{ listing.get_category_display }}
            </li>
            <li class="list-group-item">Created By: {{ listing.user }}</li>
            <li class="list-group-item">
                Time Created: {{ listing.time_created }}
            </li>
            <li class="list-group-item">
                Current Price: ${{ listing.starting_price }}
            </li>
        </ul>
    </div>

    {% for bid in bids %}
    <ul>
        <li>{{ bid.user }} made a bid of ${{ bid.price }}</li>
    </ul>
    {% empty %}
    <li>No bids yet! Be the first!</li>
    {% endfor %}

    <h4>Bid for Item</h4>
    <form action="{% url 'bid' listing.id  %}" method="post">
        {% csrf_token %}
        <div class="form-group">{{ bid_form }}</div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </form>
    <br />
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-start w-100">
                    <div class="w-100">
                        <h4>Leave a comment</h4>
                        <form
                            action="{% url 'comment' listing.id  %}"
                            method="post"
                        >
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form.content }}
                            </div>
                            <div class="form-group">
                                <input
                                    class="btn btn-primary"
                                    type="submit"
                                    value="Submit"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h4 class="mb-0">Comments</h4>
                {% for comment in comments %}

                <hr class="my-0" style="height: 1px" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <div>
                            <h6 class="fw-bold mb-1">{{ comment.user }}</h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">{{ comment.time }}</p>
                            </div>
                            <p class="mb-0">{{ comment.content }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <hr class="my-0" style="height: 1px" />

                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <div>
                            <h5 class="fw-bold">
                                No comments! Be the first!
                            </h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}
