{% extends "auctions/layout.html" %} {% block body %}

<div class="container">  
  <h2>Watchlist</h2>
  <div class="row d-flex justify-content-center">
  {% for listing in watchlist%}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src= {{ listing.image_url }} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{ listing.title }}  ${{ listing.starting_price}}</h5>
          <p class="card-text"> {{ listing.desc }}</p>
          <p class="card-text"><small class="text-muted">{{ listing.user }}  {{ listing.time_created }}</small></p>
        </div>
        <div class="card-footer">
          <a href= {% url 'listing' listing.id %} class="btn btn-primary">View</a>
          {% if listing in user.watchlist.all %}
          <a class="btn btn-primary" href="{% url 'unwatch' listing.id %}"><i class="bi bi-bookmark-heart-fill"></i> Remove From Watchlist</a>
          {% else %}
          <a class="btn btn-primary" href="{% url 'watch' listing.id %}"><i class="bi bi-bookmark-heart"></i> Add to Watchlist</a>
          {% endif %}
      </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h3> No items in your watchlist!</h3>
  {% endfor %}
  </div>  
</div>
{% endblock %}